PyAudio==0.2.14
requests==2.33.1
pyttsx3==2.90
stream2sentence==0.2.2
fastapi>=0.104.1
loguru
pydantic
pydub
python-dotenv
torch
torchaudio
uvicorn
cutlet
fugashi[unidic-lite]
coqui-tts
transformers>=4.57.3