/__pycache__/
src/__pycache__/
data/**/*.wav
data/**/*.lip
data/**/*.json
data/**/*.txt
data/tmp/
data/conversations/*
**/*.pyc
GPT_SECRET_KEY.txt
logging.log
player_recording.wav
MantellaEnv*
build/
dist/
main.exe
/.obsidian/
**/*.gguf
config.json
GPT_SECRET_KEY.txt
interface_configs/*.json
api_logs
old
GPT_SECRET_KEY.txt
asset/Decoder.pt
asset/DVAE_full.pt
asset/DVAE.pt
asset/GPT.pt
asset/spk_stat.pt
asset/tokenizer.pt
asset/Vocos.pt
data/models/gpt_sovits/s1bert25hz-2kh-longer-epoch=68e-step=50232.ckpt
data/models/gpt_sovits/s2D488k.pth
data/models/gpt_sovits/s2G488k.pth
data/models/gpt_sovits/chinese-hubert-base/pytorch_model.bin
data/models/gpt_sovits/chinese-roberta-wwm-ext-large/pytorch_model.bin
data/models/gpt_sovitschinese-hubert-base/chinese-hubert-base/pytorch_model.bin
